{% extends "base.html.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="my-5">
        <div class="row my-3">
            <div class="col-6">
                <input type="date">
            </div>
            <div class="col-6 text-right">
                <a class="rounded" data-toggle="modal" data-target="#modal-create-computer">
                    <i class="fas fa-plus fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="row justify-content-center" id="data-computer">
            {% for computer in computers %}
                <div class="card p-3 m-3" id="card-{{ computer.name }}" style="width: 300px">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{ computer.name }}</h3>
                        </div>
                        <div class="col-2 text-right">
                            <a href="#" class="delete-computer"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    {% for hour in hours %}
                        <div class="row py-2 border">
                            <div class="col-4">
                                <div>{{ hour }}</div>
                            </div>
                            <div class="col-4">
                                <div>---</div>
                            </div>
                            <div class="col-4 text-right">
                                <a class="rounded" data-toggle="modal" data-target="#modal-{{ computer.name }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% for computer in computers %}

        <div class="modal fade" id="modal-{{ computer.name }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">{{ computer.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        <h5 class="modal-title" id="ModalLabel">Ajouter un nouveau client</h5>
                        {{ form_start(formClient) }}
                        {{ form_end(formClient) }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="modal fade" id="modal-create-computer" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouvel Ordinateur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        {{ form_start(formComputer) }}
                        {{ form_end(formComputer) }}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
